target/
src/test/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.settings/org.springframework.ide.eclipse.beans.core.prefs
.settings/org.springframework.ide.eclipse.core.prefs
.springBeans
pom.xml
src/main/java/com/go/girl/HomeController.java
src/main/resources/log4j.xml
src/main/webapp/WEB-INF/spring/appServlet/servlet-context.xml
src/main/webapp/WEB-INF/spring/root-context.xml
src/main/webapp/WEB-INF/views/home.jsp
src/main/webapp/WEB-INF/web.xml
